* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url(./imagens/fundo19020x1080px.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

header {
  margin-top: 2rem;
}

.buttons {
  animation-name: showup;
  animation-duration: 2s;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

.bot {
  width: 18rem;
  margin: 0 4rem;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 10rem;
  margin-right: 10rem;
  transition: 0.5s;
}

.bot1 {
  width: 27rem;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar-thumb {
  background: rgb(250, 105, 250);
}

::-webkit-scrollbar {
  width: 15px;
  background: rgb(255, 177, 255);
}

.suporte {
  margin-top: 2rem;
  display: grid;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  font-size: xx-large;
  background-color: rgb(250, 105, 250);
  border-radius: 10px;
  margin: 4rem;
  border: 2px solid white;
  animation-name: showup;
  animation-duration: 2 s;
}
footer a {
  color: white;
  text-decoration: underline transparent;
}

.dividir {
  background-color: rgb(250, 105, 250);
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 2px solid white;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  color: transparent;
  font-size: xx-small;
}

.breve {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  font-size: 80px;
  border-radius: 10px;
  padding: 1.5rem;
  border: 2px solid white;
  margin-bottom: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: rgba(255, 255, 255, 0.301);
  margin-top: 10rem;
}
.bot:hover {
  transform: scale(1.5, 1.5);
  background-color: rgba(90, 255, 239, 0.39);
}
